# Core Libraries for Dash/Plotly/Streamlit
requests==2.32.5
pandas==2.3.2
dash==4.0.0
plotly==6.6.0
seaborn==0.13.2
matplotlib==3.10.6
numpy==2.3.3
streamlit==1.16.0

# Optional libraries (if using Jupyter Lab or Notebook)
jupyterlab==4.4.7
ipykernel==6.30.1
notebook==6.5.3

# Optional deployment (if needed for Flask/Voila)
Flask==3.1.3
voila==0.5.11
altair==4.2.0
Pillow==8.4.0